body {
  background-color: Darkred;
}

h1 {
  text-shadow: 2px 2px 2px #1C6EA4;
  font-family: Georgia, serif;
font-size: 18px;
color: lightblue;
}

p {
    font-family: Georgia, serif;
font-size: 16px;
color: lightblue;
}

h2 {
  font-size: 16px;
color: lightblue;
}

img {
  max-width: 100%;
  height: auto;
}
.myButton {
color: rgb(80, 253, 255); font-size: 12px; line-height: 12px; padding: 6px; border-radius: 37px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
