div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;

}

div.horsee {
  padding: 15px;
  text-align: center;
  position: static;
  border: 25px solid red;
}
body{
  background-color: purple;
}
h3{
  text-align: center;
}
p{
text-align: center;
font-size: 34px;
}
#Nav {
margin-top: 20px;
background-color: #000000;
color: white;
font-size: 40px;
font-family: "Calibri";
text-align: center;
    }
