body
{
background-color:LightBlue
}



#Injuries {
  border-collapse: collapse;
  width: 100%
  }
#Injuries td, #Injuries th {
  border: 12px solid blue;
  padding: 12px;
}
#Injuries th {
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: left;
  background-color: green;
  color: pink;
}

div{
  margin-top: 50px;
}

h1 {
font-family: Georgia, serif;
font-size: 16px;
 font-weight: 700;
word-spacing: 1 px;
color: #318435;
letter-spacing: 2px;

}

p {
  font-family: Impact, Charcoal, sans-serif;

color: #318435;
  font-weight: 700;

}

h2 {

  text-align: center
  text-decoration: underline rgb(68, 68, 68);
  color: #318435;
