body { background: linear-gradient(135deg, #f7f726
  60%, #060606 60%);

}

h1 {
text-align: center;
font-family: Georgia;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: center;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-size: 18px;
  font-weight: bold;
}
img {
  border-radius: 50px
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
