body 
{
  background-color: lightblue
}


body {
background:
  border-bottom: 5px solid #466995;
  position: fixed;
  width: 100%;
  text-align: center;
  
}

h1 {
 font-family: "Comic Sans MS", cursive, sans-serif;
  border: 2px dashed #1C7EA4;
}

 Section {
   font-family: "Comic Sans MS", cursive, sans-serif;
   color: #FF1B48;
